@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto all'Hotel XYZ</h1>
    <p>Prenota la tua prossima vacanza con noi e goditi un soggiorno indimenticabile!</p>
    <a class="btn btn-primary" href="/Prenotazione/Cerca">Prenota ora</a>
</div>
